In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

dataf = pd.read_csv('ifood_df.csv')
pd.set_option('display.max_columns', None)
dataf.head()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Customer_Days,marital_Divorced,marital_Married,marital_Single,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,63,2822,0,0,1,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,66,2272,0,0,1,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0,55,2471,0,0,0,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0,36,2298,0,0,0,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0,39,2320,0,1,0,0,0,0,0,0,0,1,407,392,0

In [2]:
#check for duplicates
dataf_dup = dataf[dataf.duplicated()]
print("you have {} duplicated data".format(dataf_dup.shape[0]))

you have 184 duplicated data

In [3]:
#remove duplicates
dataf.drop_duplicates(keep=False, inplace=True)

In [4]:
#Lets create a column that tells us the number of children in the house

dataf["N_children"] = dataf[["Kidhome", "Teenhome"]].sum(axis = 1)
dataf = dataf.drop(["Kidhome", "Teenhome"], axis = 1)

In [5]:
#Lets sum the levels of education into a column, the higher the number the higher the lvl

dataf["education_2n Cycle"]=dataf["education_2n Cycle"].replace({1:1,0:0})
dataf['education_Basic']=dataf['education_Basic'].replace({1:2,0:0})
dataf['education_Graduation']=dataf['education_Graduation'].replace({1:3,0:0})
dataf["education_Master"]=dataf['education_Master'].replace({1:4,0:0})
dataf["education_PhD"]=dataf['education_PhD'].replace({1:5,0:0})

dataf["Level of education"] = dataf[["education_2n Cycle",'education_Basic','education_Graduation','education_Master', 'education_PhD']].sum(axis=1)
#Drop education columns
dataf = dataf.drop(["education_2n Cycle",'education_Basic','education_Graduation','education_Master', 'education_PhD'], axis = 1)

In [6]:
#Marital status is given in 5 columns, lets create one column to help visualization and simplify data structure

#First replace the positive data with another number.
dataf['marital_Married']=dataf['marital_Married'].replace({1:5,0:0})
dataf['marital_Single']=dataf['marital_Single'].replace({1:4,0:0})
dataf['marital_Together']=dataf['marital_Together'].replace({1:3,0:0})
dataf['marital_Widow']=dataf['marital_Widow'].replace({1:2,0:0})
dataf['marital_Divorced']=dataf['marital_Divorced'].replace({1:1,0:0})

#Combine it into a column
dataf["marital_status_str"] = dataf[['marital_Married','marital_Single','marital_Together','marital_Widow','marital_Divorced']].sum(axis=1)

#Map the numbers to a marital status

dataf['marital_status_str']=dataf['marital_status_str'].map({1:'Divorced', 2:'Widow',3:'Together',4:'Single',5:'Married'})

In [7]:
#Letscreate a new column, if the client has accepted the campaing it will show a 1 if the client has not it will show a 0 
dataf['AcceptedCmp'] = dataf[['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']].sum(axis=1)
dataf['AcceptedCmp'] = (dataf['AcceptedCmp'] > 0).astype(int)

#Lets drop the unnecesary columns 

dataf = dataf.drop(['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5',"AcceptedCmpOverall"], axis=1)

In [8]:
#Lets clean the data some more by dropping some unimportant columns

dataf = dataf.drop(["Z_CostContact","Z_Revenue"], axis = 1)

In [9]:
# Create a DataFrame with dummy variables for categorical columns
encoded_dataf = pd.get_dummies(dataf)

# Calculate correlations for the encoded columns with respect to 'AcceptedCmp'
correlations = encoded_dataf.corr()['AcceptedCmp'].sort_values(ascending=False)

correlations

AcceptedCmp                    1.000000
MntWines                       0.461281
MntTotal                       0.408568
MntRegularProds                0.408493
Response                       0.360220
Income                         0.328398
NumCatalogPurchases            0.320972
MntMeatProducts                0.273522
NumWebPurchases                0.217850
NumStorePurchases              0.194347
MntGoldProds                   0.173950
MntSweetProducts               0.146843
MntFishProducts                0.142262
MntFruits                      0.136188
Level of education             0.039102
marital_Widow                  0.016490
marital_status_str_Widow       0.016490
marital_Single                 0.010632
marital_status_str_Single      0.010632
Age                            0.005825
marital_Married                0.001860
marital_status_str_Married     0.001860
marital_Together              -0.005107
marital_status_str_Together   -0.005107
Customer_Days                 -0.009468
Recency                       -0.016263
marital_Divorced              -0.019814
marital_status_str_Divorced   -0.019814
Complain                      -0.024979
NumDealsPurchases             -0.080932
NumWebVisitsMonth             -0.113625
N_children                    -0.227857
Name: AcceptedCmp, dtype: float64

In [11]:
dataf['Ratio of wines'] = (dataf[['MntWines']].sum(axis=1)) / dataf['MntTotal']
dataf['Ratio of food'] = (dataf[['MntFruits', 'MntMeatProducts', 'MntFishProducts','MntSweetProducts']].sum(axis=1)) / dataf['MntTotal']
dataf['Ratio of gold'] = (dataf[['MntGoldProds']].sum(axis=1)) / dataf['MntTotal']
dataf['Ratio of regular products'] = (dataf[['MntRegularProds']].sum(axis=1)) / dataf['MntTotal']

In [12]:
dataf["MntFood"] = (dataf[['MntFruits', 'MntMeatProducts', 'MntFishProducts','MntSweetProducts']].sum(axis=1))

In [13]:
dataf['Total_purchases'] = dataf[['NumWebPurchases','NumCatalogPurchases','NumStorePurchases',"NumDealsPurchases"]].sum(axis = 1)

In [14]:
dataf['online_purchase_ratio'] = dataf['NumWebPurchases'] / (dataf['NumWebPurchases'] + dataf['NumCatalogPurchases'] + dataf['NumStorePurchases'])

In [15]:
# define the age groups
age_groups = [(23, 30), (31, 38), (39, 46), (47, 54), (55, 62), (63, 70), (71, 78), (79, 81)]


# create a function to assign age group based on age
def assign_age_group(Age):
    for age_range in age_groups:
        if age_range[0] <= Age <= age_range[1]:
            return f"{age_range[0]}-{age_range[1]}"
    return "Unknown"

# apply the function to create a new column for age group
dataf['age_group'] = dataf['Age'].apply(assign_age_group)

#keep the data ordered for better visualization
age_order = ['23-30', '31-38', '39-46', '47-54', '55-62', '63-70', '71-78', '79-81']

In [16]:
#Reverse categorical transformation of one-hot encoded marital status

reverse_encoding = {5: 1, 4: 1, 3: 1, 2: 1, 1: 1, 0: 0}
dataf['marital_Married'] = dataf['marital_Married'].map(reverse_encoding)
dataf['marital_Single'] = dataf['marital_Single'].map(reverse_encoding)
dataf['marital_Together'] = dataf['marital_Together'].map(reverse_encoding)
dataf['marital_Widow'] = dataf['marital_Widow'].map(reverse_encoding)
dataf['marital_Divorced'] = dataf['marital_Divorced'].map(reverse_encoding)

In [17]:
#drop the features that we are not going to use 

dataf = dataf.drop(["marital_status_str","MntFood", "age_group", "online_purchase_ratio"], axis = 1)

In [18]:

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler

In [19]:
# Separate the labels from the features
X = dataf.drop('AcceptedCmp', axis=1)
y = dataf["AcceptedCmp"]

In [20]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from imblearn.pipeline import make_pipeline

In [43]:
# Perform SMOTE on the training data
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [44]:
# Define the SVM model
model = SVC(kernel='rbf', random_state=42)

In [40]:
#Normalize the data

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [45]:
# Define the parameter grid for the SVM model
param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': ['scale', 'auto', 0.1, 1, 10],
    'class_weight': [None, {0: 1, 1: 2}, {0: 1, 1: 3}]
}

In [46]:
# Perform the grid search with 5-fold cross-validation
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='f1_macro', verbose=1, n_jobs=-1)
grid_search.fit(X_train_resampled, y_train_resampled)

Fitting 5 folds for each of 60 candidates, totalling 300 fits

GridSearchCV(cv=5, estimator=SVC(random_state=42), n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100],
                         'class_weight': [None, {0: 1, 1: 2}, {0: 1, 1: 3}],
                         'gamma': ['scale', 'auto', 0.1, 1, 10]},
             scoring='f1_macro', verbose=1)

In [47]:
# Print the best parameters found by the grid search
print("Best parameters found:")
print(grid_search.best_params_)

Best parameters found:
{'C': 100, 'class_weight': None, 'gamma': 'scale'}

In [48]:
# Evaluate the performance of the best model on the test set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

In [49]:
# Print the confusion matrix, classification report, and accuracy score
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nAccuracy Score:")
print(accuracy_score(y_test, y_pred))

Confusion Matrix:
[[385  60]
 [ 34  74]]

Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.87      0.89       445
           1       0.55      0.69      0.61       108

    accuracy                           0.83       553
   macro avg       0.74      0.78      0.75       553
weighted avg       0.85      0.83      0.84       553


Accuracy Score:
0.8300180831826401